# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env

# Django stuff
*.log
*.sqlite3
media/
staticfiles/

# IDEs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db
